body {
    min-width: 900px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #F0F0F0;
}

.header {
    background-image: url(../img/apples.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    min-width: 900px;
    height: 100vh;
    color: #fff;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 40px 35px;
}

.header-logo {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
}

.navigation ul {
    padding: 0px;
    margin: 0px;
    display: flex;
}

.navigation li {
    list-style: none;
}

.navigation a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 0px 30px;
}

.navigation a:hover {
    text-decoration: underline;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 0px;
    margin-top: 130px;
}

.header-content h1 span {
    font-size: 85px;
    font-weight: bold;
    padding: 0px 15px;
}

.header-text {
    font-size: 15px;
    margin: 0px;
    margin-bottom: 130px;
}

.header-button {
    color: #fff;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 60px;

}

.main-info {
    display: flex;
    padding: 150px 0px;

    background-color: #fff;
}


.main-info p {
    width: 50%;
    margin: 0px 50px;
    font-size: 15px;
}

.main-info p:first-child {
    font-size: 20px;
}

.footer {
    padding: 0px 30px;
    background-color: #fff;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}

.footer .info-block {
    width: 25%;
    padding: 0px 15px;
}

.footer .info-block h3 {
    font-size: 17px;
    font-weight: bold;
}

.footer .info-block p {
    font-size: 15px;
    color: #9E9E9E;
}

.footer .info-block span {
    font-size: 15px;
    color: #E8E8E8;
}

.footer .info-block form {
    display: flex;

}

.footer .info-block .email {
    border: 1px solid #343638;
    flex-grow: 1;
    color: #343638;
    background-color: #E8E8E8;
    padding: 10px 15px;
    min-width: 50px;
}

.footer .info-block .button {
    border: 1px solid #343638;
    background-color: #343638;
    color: #E8E8E8;
    padding: 10px 15px;
}

.footer-copyright {
    border-top: 2px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.footer .copyright-info {
    color: #E8E8E8;
    font-size: 15px;
}

.footer ul.links {
    padding: 0px;
    margin: 0px;
    display: flex;
}

.footer ul.links li {
    list-style: none;
}

.footer ul.links a {
    color: #343638;
    display: inline-block;
    text-decoration: none;
    padding: 0px 15px;
    font-size: 17px;
}

.footer ul.links a:hover {
    text-decoration: underline;

}

.subscribe-block {
    background-color: #F0F0F0;
    padding: 30px;
}

.subscribe-block form {
    background-color: #fff;
    display: flex;
    padding: 30px 15px;
    align-items: center;

}

.subscribe-block label {
    font-size: 22px;
    padding-right: 15px;
}

.subscribe-block .email {
    border: 1px solid #343638;
    flex-grow: 1;
    color: #343638;
    background-color: #E8E8E8;
    padding: 15px 15px;
}

.subscribe-block .button {
    border: 1px solid #343638;
    background-color: #343638;
    color: #E8E8E8;
    padding: 15px 15px;
}

.main-content {
    background-color: #F0F0F0;
    padding: 40px 30px 0px;
}

.main-content h2 {
    padding: 60px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
}

.main-content h2 b {
    font-weight: bold;
}

.main-content .content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 15px;
}

.main-content .content-item:nth-child(even) {
    flex-direction: row;
}

.main-content .content-item p {
    font-size: 15px;
    width: 35%;
    padding: 20px;
    text-align: center;
    color: #343638;
}

.main-content .sample {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.main-content .sample::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: -3px -59px 48px -47px #000000 inset;
}

.main-content .sample img {
    width: 100%;
    box-shadow: -3px -59px 48px -47px #000000 inset;
}

.main-content .sample .likes {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 2px solid #fff;
    color: #fff;
    padding: 4px 6px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.main-content .sample .title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    z-index: 5;
}
