div {
    text-align: center;
}
#root{
    width: 500px;
    margin: 0px auto;
}

button {
    border-width: 2px;
    border-color: #000;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 15px;
    margin-top: 10px;
}

textarea {
    border-radius: 5px;
    height: 70px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}

li{
    list-style: none;
    display: flex;
}
li span{
    flex-grow: 1;
    text-align: left;
}