/* 

write your code here

*/

p:first-letter {
    color: #87CEFA;
    font-size: 30px;
    padding-left: 15px;
}

.tm-content-box.flex-2-col {
    display: flex;
}

.tm-content-box.flex-2-col .flex-item:nth-child(2) {
    width: 70%;
}

.tm-content-box.flex-2-col .flex-item:nth-child(1) {
    width: 30%;
}

.tm-content-box.flex-2-col img {
    width: 100%;
}

section p {
    line-height: 1.9em;
}

h2 + p {
    font-style: italic;
}

.tm-sidebar,
.tm-content-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.tm-banner {
    background: #f5f5f5;
}

.tm-banner-inner {
    background: #fff;
}

.carousel-item.active h2 {
    color: gainsboro;
    letter-spacing: 5px;
}

.box-bg:hover h2 {
    background: #87CEFA;
    color: #fff;
}

section > div:first-child {
    position: relative;
    overflow: hidden;
}

section > div:first-child::before {
    content: '';
    position: absolute;
    top: -40px;
    left: -25px;
    width: 300px;
    height: 50px;
    background-color: #87CEFA;
    transform: rotate(-5deg);
}

.tm-nav-item:hover {
    background: #f5f5f5;
}

.heading a {
    color: #000;
    position: relative;
}

.heading a:visited {
    text-decoration: underline;

}

.heading a:hover {
    text-decoration: none;
    color: #87CEFA;
    border-bottom: 3px double #87CEFA;

}

.text::after {
    content: "New";
    position: absolute;
    font-size: 11px;
    margin-left: 0.1%;
    color: #f00;

}


/*
section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 0 5%, 30% 0);
    background-color: #87CEFA;
}
*/

.box-work:nth-child(even) {
    background: #f5f5f5;

}

.box-work {
    padding: 5px;
}

.box-work p:first-letter {
    color: #000;
    padding-left: 0px;
}

.mandatory-field::after {
    content: '*';
    position: absolute;
    color: #FF0000;
    top: 0px;
    right: 0px;
}

.submit-btn {
    border: 1px solid #87CEFA;
    color: #87CEFA;
    background: transparent;
    border-radius: 0px;
    float: right;
    padding: 5px 30px;
}

.submit-btn:hover {
    color: #fff;
    background: #87CEFA;
    border: 1px solid #87CEFA;
}

@media print {
    body {
        background-color: #fff;
    }

    section {
        display: none;
    }

    .tm-main-content section:nth-child(2) {
        display: block;
    }

    .tm-main-content section #about {
        display: none;
    }

    .tm-banner-inner {
        padding: 50px 0px;
    }

    .tm-banner-text:first-letter {
        color: #87CEFA;
    }

    .tm-sidebar {
        display: none;
    }

    h2.tm-section-title {
        color: #00e;
    }

    p.tm-section-description {
        line-height: 2em;
        font-size: 20px;
    }

    p.tm-section-description:first-letter {
        color: #87CEFA;
        padding-left: 25px;
        font-size: 30px;
    }

    footer .text-xs-center:first-letter {
        color: #87CEFA;
        font-size: 30px;
    }

    .tm-team-description-container p.tm-section-description:nth-child(2) {
        font-style: italic;
    }

    .tm-content-box.flex-2-col {
        display: flex;
        margin: 0px;
    }

    .tm-content-box.flex-2-col .flex-item:nth-child(2) {
        width: 40%;
    }

    .tm-content-box.flex-2-col img {
        margin-top: 120px;
        width: 100%;
    }
}
