/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

* {
    transition: all .2s;
}

.container {
    width: 80%;
    margin: 0px auto;
    height: inherit;
}

/* To top */
#to_top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 10px;
    background-color: #0078aa;
    color: #fff;
    border: 2px solid #0078aa;
    z-index: 9;
}

#to_top:hover {
    cursor: pointer;
    background-color: #fff;
    color: #0078aa;
}

/* Header */
header {
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-color: #fff;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

header .logo,
header .logo img {
    height: inherit;
}

.header_nav {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.header_nav li {
    list-style: none;
}

.header_nav a {
    text-decoration: none;
    display: block;
    color: #363636;
    text-transform: uppercase;
    font-weight: bold;
    padding: 3px 15px;
}

.header_nav a:hover {
    text-decoration: underline;
}

/* Banner */
.banner {
    background-image: url(../img/lady.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.banner .container {
    padding: 120px 5px 100px;
}

.banner h1 {
    white-space: pre-line;
    margin-bottom: 20px;
}

.banner .banner_info {
    color: #363636;
    opacity: 0.8;
    width: 350px;
    margin-bottom: 20px;
}

.banner .banner_links {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.banner .banner_links li {
    list-style: none;
    margin-right: 20px;
}

.banner .banner_links a {
    display: block;
    background-color: #0078aa;
    color: #fff;
    font-size: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border: 2px solid #0078aa;
}

.banner .banner_links a:hover {
    cursor: pointer;
    background-color: #fff;
    color: #0078aa;
}

/* About */
.section_about {
    display: flex;
    padding: 50px 0px;
    align-items: center;
}

.section_about .about_img {
    background-image: url(../img/tools.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: stretch;
    width: 50%;
}

.section_about .about_info {
    width: 50%;
    padding: 40px 20px;
}

.section_about h2 {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 5px;
}

.section_about .info {
    text-transform: uppercase;
    color: #0078aa;
    display: block;
    margin-bottom: 15px;
}

.section_about .about_point {
    width: 350px;
}

.section_about .about_point .arrow {
    color: #0078aa;
    margin-right: 5px;
}

.section_about .about_point .title {
    font-weight: bold;
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}

.section_about .about_point .info {
    text-transform: none;
    font-size: 15px;
    color: #000;
    display: block;
}

/* Services */
.section_services {
    background-image: url(../img/services_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section_services .container {
    padding: 30px 5px 30px;
}

.section_services h2 {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
}

.section_services .info {
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.section_services .services {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section_services .services li {
    list-style: none;
    width: 25%;
    margin-bottom: 15px;
    padding: 20px;
    background-color: #fff;
}

.section_services .services img {
    width: 40%;
    margin-bottom: 15px;
}

.section_services .services .name {
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}

.section_services .services .info {
    text-transform: none;
    display: block;
    text-align: left;
}

/* Pricing */
.section_pricing {
    background-image: url(../img/pricing_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 5px 50px;
}

.section_pricing h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
}

.section_pricing .info {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 50px;
}

.section_pricing .offers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_pricing .offer_one {
    background-color: #3fbef2;
    color: #fff;
    border: 2px solid #3fbef2;
    flex-grow: 1;
    padding: 30px 50px 35px;
    text-align: center;
}

.section_pricing .offer_one:nth-child(2) {
    background-color: #fff;
    color: #0078aa;
    align-self: stretch;
    padding: 55px 50px 60px;
}

.section_pricing .name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.section_pricing .cost {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 20px;
}

.section_pricing .treatment_info {
    font-style: italic;
    font-size: 15px;
    margin-bottom: 20px;
}

.section_pricing .offer_points {
    margin: 0px;
    margin-bottom: 30px;
    padding: 0px;
}

.section_pricing .offer_points li {
    list-style: none;
    font-size: 11px;
    margin-bottom: 15px;
}

.section_pricing .button {
    background-color: #fff;
    color: #0078aa;
    border: 2px solid #0078aa;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
}

.section_pricing .button:hover {
    background-color: #0078aa;
    color: #fff;
    cursor: pointer;
}

/* Contact */
.section_contact {
    display: flex;
    padding: 0px 0px 0px;
    align-items: center;
}

.section_contact .contact_img {
    background-image: url(../img/contact_image.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: stretch;
    width: 50%;
}

.section_contact form {
    width: 50%;
    padding: 70px 20px 150px;
}

.section_contact h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
}

.section_contact .info {
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.section_contact .field {
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
}

.section_contact .field input {
    padding: 7px 10px;
    font-style: italic;
    width: 90%;
    border: none;
}

.section_contact .field .icon {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px 15px 5px 0px;
    opacity: 0.5;
}

.section_contact .button {
    background-color: #0078aa;
    color: #fff;
    border: 2px solid #0078aa;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
}

.section_contact .button:hover {
    background-color: #fff;
    color: #0078aa;
    cursor: pointer;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #363636;
    color: #fff;
    font-size: 15px;
    padding: 15px 5px;
}

/* Desktop */
@media (min-width:1280px) {}

/* Tablet */
@media (max-width:1279px) {
    .container {
        width: 90%;
    }

    .banner {
        background-position: -100px;
    }

    .section_pricing .offer_one {
        padding: 20px 20px 25px;
    }

    .section_pricing .offer_one:nth-child(2) {
        padding: 45px 20px 50px;
    }
}

/* Mobile */
@media (max-width:767px) {
    .container {
        width: 95%;
    }

    .banner {
        background-position: -200px;
    }

    .banner .container {
        padding: 70px 5px 50px;
    }

    header nav {
        flex-direction: column;
    }

    header .logo {
        margin-bottom: 10px;
    }

    .header_nav a {
        font-size: 12px;
        padding: 3px 5px;
    }

    .banner h1 {
        font-size: 35px;
        width: 100%;
        text-align: center;
    }

    .banner .banner_info {
        text-align: center;
        width: 100%;
    }

    .banner .banner_links {
        display: flex;
        justify-content: space-around;
    }

    .banner .banner_links li {
        margin: 0px;
    }

    .section_about {
        flex-direction: column;
        text-align: center;
        padding: 25px 0px;
    }

    .section_about .about_img {
        height: 250px;
        width: 100%;
    }

    .section_about .about_info {
        width: 100%;
        padding: 40px 20px;
    }

    .section_about .about_point {
        width: 90%;
        margin: 0px auto;
    }

    .section_services .services li {
        width: 90%;
    }

    .section_services li .info {
        margin-bottom: 0px;
    }

    .section_pricing .offers {
        flex-direction: column;
    }

    .section_pricing .offer_one {
        align-self: stretch;
        padding: 30px 50px 35px;
        margin-bottom: 20px;
    }

    .section_contact {
        flex-direction: column;
    }

    .section_contact .contact_img {
        height: 250px;
        width: 100%;
    }

    .section_contact form {
        width: 85%;
        padding: 10px 5px 20px;
    }
}
