// Write your styles here
@mixin button() {
    background-color: map-get($backgrounds, button);
    padding: 7px 30px;
    text-align: center;
    border-radius: 3px;
    border: none;
    white-space: nowrap;
    color: #fff;
    font-weight: bold;
}

@mixin link() {
    text-align: center;
    display: block;
    padding: 7px 30px;
    font-weight: bold;
    font-size: 15px;
}

%logo {
    .landing-logo {
        display: flex;
        font-family: $font-theme, sans-serif;

        img {
            height: 50px;
            width: 50px;
            margin-right: 15px;
        }

        p {
            margin: 0px;
            font-size: 25px;
            font-weight: bold;
        }

        span {
            font-size: 11px;
            text-align: center;
            display: block;
        }
    }
}

body {
    background-color: map-get($backgrounds, page);
    font-family: $font-theme;
    color: $text-color-theme;
    margin: 0px;
    padding: 0ox;
}

*::selection {
    background: map-get($backgrounds, mark);
}

*::-moz-selection {
    background: map-get($backgrounds, mark);
}

.header-wrap {
    @extend %logo;

    background-image: $header-image;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    border-bottom-right-radius: 30%;
    padding: 15px 150px 100px;

    color: $text-color-theme;

    .header_heading {
        font-size: 45px;
        font-weight: bold;
        width: 350px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .header_text {
        font-family: $font-theme, sans-serif;
        white-space: pre-line;
        font-size: 15px;
        margin-bottom: 50px;
    }

    div:last-child {
        width: 100%;
        display: flex;

        .header_button {
            @include button();
            margin-right: 100px;
        }

        .login {
            @include link();
            color: #fff;
        }
    }
}

main.section {
    margin: 0px auto;
    width: 65%;

    .section_text {
        font-size: 30px;
        text-align: center;
        color: $text-color-theme;
        font-weight: bold;
    }

    .section_card {
        background-color: map-get($backgrounds, sections);
        border-radius: 7px;
        padding: 20px;
        margin: 15px 20px;
        color: #c0c3ce;
        display: flex;
        align-items: center;

        .section_card_img {
            border-radius: 5px;
            align-self: stretch;
            width: 350px;
        }

        .section_card_right_container {
            padding: 0px 50px;
            width: 60%;

            .section_card_heading {
                text-align: center;
                font-weight: bold;
                font-size: 20px;
                color: #fff;
                font-family: 'Source Sans Pro', sans-serif;
            }

            .section_card_text {
                line-height: 1.5em;
            }

            .section_link {
                @include link();
                color: #c0c3ce;
            }
        }
    }

    .section_banner {
        background: $gradient-banner;
        border-radius: 10px;
        display: flex;
        padding: 20px 110px;
        align-items: center;
        justify-content: space-between;
        top: 60px;
        position: relative;

        .section_banner_text_wrap {
            .section_banner_heading {
                font-size: 25px;
                color: $text-color-theme;
                margin: 0px;
                font-weight: bold;
                font-family: 'Source Sans Pro', sans-serif;
            }

            .section_banner_text {
                font-size: 15px;
                color: #c0c3ce;
            }
        }

        .section_banner_button {
            @include button();
        }
    }
}

.footer {
    background-color: map-get($backgrounds, footer);

    .footer-wrap {
        @extend %logo;

        margin: 0px auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding: 120px 120px 50px;
        color: #c0c3ce;
        align-items: center;

        .footer_text {
            width: 300px;
        }
    }
}
