$backgrounds: (page: #fff,
	sections: #2c2f3c,
	footer: #2c2f3c,
	mark: #14a0c7,
	button: #699900);

$header-image: url(../img/m-h-day.jpg);

$gradient-banner: linear-gradient(45deg, map-get($backgrounds, button) 15%, rgba(45, 91, 214, 1) 85%);

$font-theme: 'Source Sans Pro';
$text-color-theme: #21232e;
