$backgrounds: (page: #21232e,
    sections: #3b3f50,
    footer: #3b3f50,
    mark: #ff4e33,
    button: #e3aa00);

$header-image: url(../img/m-h-night.jpg);

$gradient-banner: linear-gradient(45deg, map-get($backgrounds, button) 15%, rgba(147, 44, 83, 1) 85%);

$font-theme: 'Fresca';
$text-color-theme: #fff;
