/* START: Task 1 Styles */
table {
    margin-bottom: 30px;
}

td {
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    height: 70px;
    width: 70px;
    text-align: center;

}


/* END: Task 1 Styles */

/* START: Task 2 Styles */

#task2 {
    width: 350px;
    display: flex;
    flex-direction: column;

}

#message {
    background-color: #f88;
    color: white;
    border-width: 1px;
    border-color: #555;
    border-style: solid;
    margin-bottom: 10px;
    padding: 10px 15px;
    display: none;
}

#form {
    display: flex;
}

#phone {
    flex-grow: 1;
    border-width: 1px;
    border-color: #555;
    border-style: solid;
    margin-right: 10px;
    padding: 10px 15px;
    
}
#send{
    border-width: 1px;
    border-color: #555;
    border-style: solid;
    padding: 10px 15px;
}

/* END: Task 2 Styles */

/* START: Task 3 Styles */
#task3 {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

#task3 #backetball {
	width: 600px;
	position: relative;
}

#task3 #court {
	width: 600px;
	height: 300px;
}

#task3 #ball {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 130px;
	left: 280px;
}

#task3 #scorebar {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}

#task3 .score {
	padding: 0px 5px;
	width: auto;
}

#task3 .mess {
	width: 100%;
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	margin-top: 15px;
	
	display: none;
}

#task3 .mess.team_a {
	color: red;
}

#task3 .mess.team_b {
	color: blue;
}

/* END: Task 3 Styles */
