.header-wrap .landing-logo, .footer .footer-wrap .landing-logo {
  display: flex;
  font-family: "Source Sans Pro", sans-serif; }
  .header-wrap .landing-logo img, .footer .footer-wrap .landing-logo img {
    height: 50px;
    width: 50px;
    margin-right: 15px; }
  .header-wrap .landing-logo p, .footer .footer-wrap .landing-logo p {
    margin: 0px;
    font-size: 25px;
    font-weight: bold; }
  .header-wrap .landing-logo span, .footer .footer-wrap .landing-logo span {
    font-size: 11px;
    text-align: center;
    display: block; }

body {
  background-color: #fff;
  font-family: "Source Sans Pro";
  color: #21232e;
  margin: 0px;
  padding: 0ox; }

*::selection {
  background: #14a0c7; }

*::-moz-selection {
  background: #14a0c7; }

.header-wrap {
  background-image: url(../img/m-h-day.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 30%;
  padding: 15px 150px 100px;
  color: #21232e; }
  .header-wrap .header_heading {
    font-size: 45px;
    font-weight: bold;
    width: 350px;
    font-family: 'Source Sans Pro', sans-serif; }
  .header-wrap .header_text {
    font-family: "Source Sans Pro", sans-serif;
    white-space: pre-line;
    font-size: 15px;
    margin-bottom: 50px; }
  .header-wrap div:last-child {
    width: 100%;
    display: flex; }
    .header-wrap div:last-child .header_button {
      background-color: #699900;
      padding: 7px 30px;
      text-align: center;
      border-radius: 3px;
      border: none;
      white-space: nowrap;
      color: #fff;
      font-weight: bold;
      margin-right: 100px; }
    .header-wrap div:last-child .login {
      text-align: center;
      display: block;
      padding: 7px 30px;
      font-weight: bold;
      font-size: 15px;
      color: #fff; }

main.section {
  margin: 0px auto;
  width: 65%; }
  main.section .section_text {
    font-size: 30px;
    text-align: center;
    color: #21232e;
    font-weight: bold; }
  main.section .section_card {
    background-color: #2c2f3c;
    border-radius: 7px;
    padding: 20px;
    margin: 15px 20px;
    color: #c0c3ce;
    display: flex;
    align-items: center; }
    main.section .section_card .section_card_img {
      border-radius: 5px;
      align-self: stretch;
      width: 350px; }
    main.section .section_card .section_card_right_container {
      padding: 0px 50px;
      width: 60%; }
      main.section .section_card .section_card_right_container .section_card_heading {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif; }
      main.section .section_card .section_card_right_container .section_card_text {
        line-height: 1.5em; }
      main.section .section_card .section_card_right_container .section_link {
        text-align: center;
        display: block;
        padding: 7px 30px;
        font-weight: bold;
        font-size: 15px;
        color: #c0c3ce; }
  main.section .section_banner {
    background: linear-gradient(45deg, #699900 15%, #2d5bd6 85%);
    border-radius: 10px;
    display: flex;
    padding: 20px 110px;
    align-items: center;
    justify-content: space-between;
    top: 60px;
    position: relative; }
    main.section .section_banner .section_banner_text_wrap .section_banner_heading {
      font-size: 25px;
      color: #21232e;
      margin: 0px;
      font-weight: bold;
      font-family: 'Source Sans Pro', sans-serif; }
    main.section .section_banner .section_banner_text_wrap .section_banner_text {
      font-size: 15px;
      color: #c0c3ce; }
    main.section .section_banner .section_banner_button {
      background-color: #699900;
      padding: 7px 30px;
      text-align: center;
      border-radius: 3px;
      border: none;
      white-space: nowrap;
      color: #fff;
      font-weight: bold; }

.footer {
  background-color: #2c2f3c; }
  .footer .footer-wrap {
    margin: 0px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 50px;
    color: #c0c3ce;
    align-items: center; }
    .footer .footer-wrap .footer_text {
      width: 300px; }
