/* write your styles here */
#app-root {
    width: 800px;
    margin: 0px auto;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

p {
    margin-top: 15px;
    text-align: center;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block_radio {
    display: flex;
    flex-direction: column;
}

table {
    margin-top: 15px;
}

thead {
    background-color: #30b052;
    color: white;
}

table {
    width: 100%;
    border: 1px solid #c9c9c9;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}

td {
    border-bottom: 1px solid #c9c9c9;
    border: 1px solid #c9c9c9;
    padding: 15px 10px;
    text-align: center;
}

th {
    border: 1px solid #c9c9c9;
    padding: 15px 10px;
    text-align: center;
}

th span {
    color: #ff0;
}

#rezult table,
#rezult p {
    display: none;
}


#sort_by_name,
#sort_by_area{
	cursor: pointer;
}