.navbar-brand {
	font-weight: bold;
	font-size: 2em;
}

.btn-danger {
	background-color: coral;
}

body {
	color: #111;
	font-family: 'Roboto', sans-serif;
}

.text-secondary {
	color: #525252;
}

.bg-dark {
	background-color: #525252;
	color: #fff;
}

footer {
	color: #525252;
}
